<p id="notice"><%= notice %></p>

<p>
  <strong>Delete '<%= @book.title %>'?</strong>
</p>

<%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', books_path %>
